.login {
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin-top: 25px;
  width: 320px;
}

.title {
  font-family: "GillSans", Arial, sans-serif;
  font-weight: bold;
  color: #0d104d;
  font-size: 28px;
  padding: 30px 0px 10px 0;
}

.logo {
  margin-top: 40px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginLink:hover {
  text-decoration: none;
}

.loginBtn {
  margin-top: 25px;
  width: 320px;
  height: 55px;
  background-color: #e95c13;
}

.loginBtn:hover {
   background-color: #CB4F0E;
}
