.container {
    background-color: #111E5C;
    height: 37px;
    margin-top: 60px;
    padding-left: 12px;
}

.link {
    color: #fff;
    padding: 0 10px;
    border-left: 1px solid #424242;
    border-right: 1px solid #424242;
    font-weight: bold;
    font-size: 14px;
}

.logo {
    margin-right: 20px;
    margin-top: -63px;
}